{% extends 'index.html.twig' %}

{% block title %}All acteurs
{% endblock %}

{% block body %}
<a href="{{ path("actor_app_actor_new") }}">Add</a>

	<div class="d-flex flex-column align-items-center">
		<h1>Toutes les acteurs :</h1>
        <ul>
        {% for actor in actors %}
        <li><a href="{{ path("actor_show", { slug: actor.slug }) }}">{{ actor.name }}</a></li>
        
        <br>
        {% endfor %}
        </ul>

	<a href="{{ path('app_index')}}">Retour à l'accueil</a>
</div>{% endblock %}